[ { action: "{{ logger_action }}", message_version: "{{ version }}", timestamp: "{{ ansible_date_time.iso8601 }}", type: "{{ ansible_os_family }}", os: "{{ ansible_distribution_version }}", state: "{{ logger_state }}", provider: "{{ logger_provider }}", hostname: "{{ ansible_hostname }}", ip_address: "{{ ansible_default_ipv4['address'] | default(ansible_all_ipv4_addresses[0]) }}" } ]
